:root {
    font-family: 'Courier New', Courier, monospace;

}

body {
  background-color: #d9dcd6;
}


/* header {
    padding: 30px;
    text-align: center;
    background-color: #AC84B1;
    font-size: 30px;
} */

a {
  color: #ffff;
  font-size: 20px;
}


div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* section {
  margin-top: 15px;
  align-items: baseline;
} */

/* nav {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
} */

p {
  font-size: 16px;
}


/* nav a:hover {
  background-color: #AC84B1;
  color: #1946E1;
  cursor: grab;
} */

div .project:hover {
    color: #1946E1;
    cursor: grab;
  }

footer {
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    background-color: #AC84B1;
}

#recent-project {
    display: flex;
    justify-content: center;
}

/* .image {
    object-fit: contain;
    
} */

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}